
div, #yoprog{
    background-color: #00a78e;
}


#logarg{
    width: 150px;
    
}

#yoprog{
    margin-top: 10px;
    margin-left: -10px;
    height:55px;
    
}

#face,  #insta,  #linke, #git {
    
    height: 50px;
}


div.redes{
    float: right;
    margin-top: -70px;
}

a, button{
    margin-left: 15px;
}

button{
    margin-right: 10px;
}

#banner{
    position:absolute;
    width: 98%;
    height: 550px;
    margin-bottom: -5px;
    margin-left: 10px;
    border-radius: 25px;
}

