
div{
    background-color: #00a78e;
}

#logarg{
    width: 150px;
}

#face,  #insta,  #linke, #git {
    
    height: 50px;
}


div.redes{
    float: right;
    margin-top: -70px;
}

a, button{
    margin-left: 15px;
}

button{
    margin-right: 10px;
}