<div>
    <div>
        <img src="../../../assets/APLogo.png" alt="logo Argentina Programa" id="logarg" >
    </div>
    
    <div>
        <img src ="../../../assets/miprogramo.png" alt="logo yo programo" id = "yoprog">
    </div>
        
    <div class = "redes">
        
        <a href = "https://www.facebook.com/Walle2009" target="valor_blank">
            <img src="../../../assets/facebook.png" alt ="logo Facebook" id ="face">
        </a>

        <a href = "https://www.linkedin.com/in/walter-rafael-gimenez/" target ="valor_blank">
            <img src="../../../assets/linkedin.png" alt = "logo linkedin" id = "linke">
        </a>

        <a href ="https://www.instagram.com/walter2019soy/" target ="valor_blank">
            <img src="../../../assets/instagram.png" alt="logo Instagram" id = "insta"  >
        </a>

        <a href="https://github.com/WalterGimenez" target ="valor_blank">
            <img src="../../../assets/github.png" alt= "logo Github" id = "git">
        </a>

        <button type="button" class="btn btn-outline-dark">Login</button>

       
    </div>    
</div>
<img src="../../../assets/banner-verde.webp" alt = "banner verde" id = "banner">
