#gim{
    position:absolute;
    width: 140px;
    border-radius: 100px;
    margin-top: 100px;
    
    margin-left: -10px;
    z-index: 5;
}

body{
    min-width: 720px; ;
}

#cuerpo{
   background-color: #00a78e;
}

#argprog {
  
    height: 120px;
    margin-bottom: 10px;
    margin-top: -25px;
   
    
}

#yoprogramo{
    
    height: 80px;
    margin-top: -15px;
    margin-left: -20px;
}

#linkedin, #face, #insta, #git{
    height: 50px;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: -5px;
}

button{
    margin-left: 8px;
    margin-right: 10px;
    margin-top: -10px;
}


.logos{
    text-align: left;
}

.redes{
    text-align: right;
    margin-top: -90px;
}

#banner{
   
    width: 99%;
    height: 500px;
    margin-bottom: -5px;
    margin-left: 10px;
    border-radius: 25px;
}

#gim{
    position:absolute;
    width: 140px;
    border-radius: 100px;
    top: 490px;
    left: 40px;
    z-index: 5;
}

h1, h5, h3, .acerca{
    margin-left: 30px;
}



.logo{
    text-align:right;
    
    
}
#unaj{
    height: 80px;
    width: 80px;
    margin-right: 130px;
    margin-top: -140px;
}
 
nav{
    margin-left: 20px;
    margin-top: -60px;
}

#desarrollo{
    float: right;
    height: 70px;
    width: 160px;
    margin-top: -90px;
    margin-right: 90px;
}