<div>
        <img src="../../../assets/gimenez.png" alt = "foto Walter Gimenez" id ="gim">
        <br><br><br>

        <h1>Walter Rafael Gimenez</h1>

        <h5>Full Stack Developer Jr.<br>Buenos Aires, Argentina</h5>

        

        <div>
            <img src="/assets/desarrollo.png" alt="logo Ministerio de Desarrollo" id="desarrollo">
        </div>
        <br>
        <h3>Acerca de</h3>
        <p class="acerca">
            Full Stack Developer Jr. mediante Argentina Programa del Ministerio de Desarrollo Productivo<br>
            Estudiante de Ingeniería en 2º año de la carrera de Informática UNAJ(Universidad Nacional Arturo Jauretche)
        </p>

        <div class="logo">
            <img src="/assets/logoUnaj.png" alt="logo Unaj" id="unaj">
        </div>
</div>